<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<title>Find Do Responsive Directory Template</title>
<link rel="stylesheet" type="text/css" href="/css/master.css">
<link rel="stylesheet" type="text/css" href="/css/color-green.css">

<link rel="shortcut icon" href="/images/short_icon.png">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- LOADER -->
	<div class="loader">
		<div class="cssload-svg">
			<img src="/images/42-3.gif" alt="image">
		</div>
	</div>
	<!--LOADER-->

	<!-- HEADER -->
	<header id="main_header">
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-5 col-xs-12">
						<div class="top-contact">
							<p>
								Para más información: <span>+34 666 123123</span> o por email: <span>atoperural@email.com</span>
							</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-7 col-xs-12 top_right_links">
						<ul class="top_links">
							<li><a href="/profile.html"><i class="fa fa-user-o"
									aria-hidden="true"></i> Perfil</a></li>
							<li><a href="/login-registerd.html"><i class="fa fa-lock"
									aria-hidden="true"></i> Login / Registro</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-sticky bootsnav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/"><img src="/images/logo.png"
								class="logo" alt=""> </a>
						</div>
						<!-- End Header Navigation -->
						<div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown"
								data-out="fadeOutUp">

								<li class="dropdown megamenu-fw"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown">Páginas</a>
									<ul class="dropdown-menu megamenu-content" role="menu">
										<li>
											<div class="row">
											
												<div class="col-menu col-md-3">
													<h6 class="title">Páginas</h6>
													<div class="content">
														<ul class="menu-col">
															<li><a href="/">Home</a></li>
															<li><a href="/packages.html">Paquetes</a></li>															
															<li><a href="/blog.html">Nuestro Blog</a></li>
															<li><a href="/faq.html">Faq's</a></li>
															<li><a href="/about.html">Sobre nosotros</a></li>
															<li><a href="/contact.html">Contactenos</a></li>
														</ul>
													</div>
												</div>

											</div>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER  -->

	<!-- Inner Banner -->
	<section id="inner-banner-2">
		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<div class="inner_banner_2_detail">
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Inner Banner -->
	<!-- Add New Listings -->
	<section id="add-listing" class="p_b70 p_t70 bg_lightgry">
	<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<h2><p>El alojamiento ha sido guardado correctamente</p>
					<br><br>
					<a href="/propietario/{{idPropietario}}">Volver a propietario</a></h2>
				</div>

			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer_1" class="bg_blue p_t70 p_b30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_logo">
						<img src="/images/logo-footer.png" alt="image" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<ul class="footer_link">
						<li><a href="/">Home</a></li>
						<li><a href="/packages.html">Paquetes</a></li>															
						<li><a href="/blog.html">Nuestro Blog</a></li>
						<li><a href="/faq.html">Faq's</a></li>
						<li><a href="/about.html">Sobre nosotros</a></li>
						<li><a href="/contact.html">Contactenos</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="header-top-links">
						<div class="social-icons text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_line"></div>
		</div>
		<div class="footer_botom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-6 col-sm-12">
						<p>Copyrights © 2019 Atoperural. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->


	<script src="/js/jquery.2.2.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/jquery-countTo.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/bootsnav.js"></script>
	<script src="/js/zelect.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/modernizr.custom.26633.js"></script>
	<script src="/js/jquery.gridrotator.js"></script>
	<script src="/js/functions.js"></script>
    <script src="/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/js/jquery.iframe-transport.js" type="text/javascript"></script>
</body>

</html>