<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<title>Find Do Responsive Directory Template</title>
 <link href="/vendor/CLNDR/css/clndr.css" rel="stylesheet" >
 
<link rel="stylesheet" type="text/css" href="/css/master.css">
<link rel="stylesheet" type="text/css" href="/css/color-green.css">

<link rel="shortcut icon" href="/images/short_icon.png">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  <script src="/js/jquery.2.2.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/editar_alojamiento.js" type="text/javascript"></script>
  <script src="/js/alojamiento.js" type="text/javascript"></script>
  <script type="text/javascript">
 //Inicialmente
 $(document).ready(function(){
 	$("#guardar").hide();
 	$("#kindaccommodation").val({{alojamiento.kindAccommodation}});
 	$("#province").val('{{alojamiento.province}}');
 	$("#people").val('{{alojamiento.people}}');
 });
</script>
</head>

<body>


	<!-- LOADER -->
	<div class="loader">
		<div class="cssload-svg">
			<img src="/images/42-3.gif" alt="image">
		</div>
	</div>
	<!--LOADER-->

	<!-- HEADER -->
	<header id="main_header">
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-5 col-xs-12">
						<div class="top-contact">
							<p>
								Para más información: <span>+34 666 123123</span> o por email: <span>atoperural@email.com</span>
							</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-7 col-xs-12 top_right_links">
						<ul class="top_links">
							<li><a href="/profile.html"><i class="fa fa-user-o"
									aria-hidden="true"></i> Perfil</a></li>
							<li><a href="/login-registerd.html"><i class="fa fa-lock"
									aria-hidden="true"></i> Login / Registro</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-sticky bootsnav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/"><img src="/images/logo.png"
								class="logo" alt=""> </a>
						</div>
						<!-- End Header Navigation -->
						<div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown"
								data-out="fadeOutUp">

								<li class="dropdown megamenu-fw"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown">Páginas</a>
									<ul class="dropdown-menu megamenu-content" role="menu">
										<li>
											<div class="row">
											
												<div class="col-menu col-md-3">
													<h6 class="title">Páginas</h6>
													<div class="content">
														<ul class="menu-col">
															<li><a href="/">Home</a></li>
															<li><a href="/packages.html">Paquetes</a></li>															
															<li><a href="/blog.html">Nuestro Blog</a></li>
															<li><a href="/faq.html">Faq's</a></li>
															<li><a href="/about.html">Sobre nosotros</a></li>
															<li><a href="/contact.html">Contactenos</a></li>
														</ul>
													</div>
												</div>

											</div>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER  -->

	<!-- Inner Banner -->
	<section id="inner-banner-2">
		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<div class="inner_banner_2_detail">
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Add New Listings -->
	<section id="add-listing" class="p_b70 p_t70 bg_lightgry">

		<div class="container">

			<form onsubmit="return Valida(this);" id="updateForm" action="/propietario/{{idPropietario}}/alojamiento/{{alojamiento.id}}/actualizar" method="post">
				<div class="row">
					<div class="col-md-12">
						<div class="add-listing-bg">

							<div class="row">

								<div class="col-md-8 col-sm-8 col-xs-12">

									<div class="listing-title-area">

										<div class="form-group">
											<label>Nombre alojamiento <span>*</span>
											</label>
											<input type="text" name="name" class="mandatory form-control"
												placeholder="Nombre de alojamiento" id="name" value="{{alojamiento.name}}" disabled>
										</div>

										<div class="form-group">
											<label>Número registro turismo <span>*</span></label> <input
												type="text" id="numbertourism" name="numberTourism" class="mandatory form-control"
												placeholder="Número registro turismo" value="{{alojamiento.numberTourism}}" disabled>
										</div>

									</div>

									<div class="listing-title-area">
										<div class="row">

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Plazas <span>*</span>
													</label>
													<!-- <div class="single-query form-group">-->
														<div>
															<select id="people" name="people" disabled>
																<option value="">Personas...</option>
																<option value="1">1 persona</option>
																<option value="2">2 personas</option>
																<option value="3">3 personas</option>
																<option value="4">4 personas</option>
																<option value="5">5 personas</option>
																<option value="6">6 personas</option>
																<option value="7">7 personas</option>
																<option value="8">8 personas</option>
																<option value="9">9 personas</option>
																<option value="10">10 personas</option>
																<option value="11">11 personas</option>
																<option value="12">12 personas</option>
																<option value="13">13 personas</option>
																<option value="14">14 personas</option>
																<option value="15">15 personas</option>
																<option value="16">16 personas</option>
																<option value="17">17 personas</option>
																<option value="18">18 personas</option>
																<option value="19">19 personas</option>
																<option value="20">20 personas</option>
																<option value="">Otra cantidad</option>
															</select>
														</div>
													<!-- </div>-->
												</div>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Número de habitaciones <span>*</span>
													</label> <input type="text" id="numberrooms" name='numberRooms'
														class="mandatory form-control" placeholder="Número de habitaciones..." value="{{alojamiento.numberRooms}}" disabled>
												</div>
											</div>
										</div>
									</div>

									<div class="listing-title-area">

										<div class="form-group">
											<label>Tipo de alojamiento <span>*</span>
											</label>
											<!-- <div class="single-query form-group"> -->
												<div>
													<select id="kindaccommodation" name="kindAccommodation" disabled>
														<option>Seleccionar Tipo de
															alojamiento...</option>
														<option value=1>Albergue</option>
														<option value=2>Apartamento</option>
														<option value=3>Casa rural</option>
														<option value=4>Camping</option>
														<option value=5>Hostal</option>
														<option value=6>Hotel</option>
														<option value=7>Hotel rural</option>
														<option value=8>Pensión</option>
														<option value=9>Posada</option>
													</select>
												</div>
											<!-- </div>-->
										</div>

									</div>
								    <div class="listing-title-area">

										<div class="form-group">
											<label>País <span>*</span>
											</label> <input type="text" class="mandatory form-control" id="country"
												name='country' placeholder="España" value="{{alojamiento.country}}" disabled>
										</div>

									</div>
									<div class="listing-title-area">

										<div class="form-group">
											<label>Provincia <span>*</span>
											</label>
											<!-- <div class="single-query form-group">-->
												<div>
													<select id="province" name='province' disabled>
												        <option value="">(Seleccionar Provincia)</option>
												        <option value='A Coruña'>A Coruña</option>
														<option value='Alava'>Álava</option>
														<option value='Albacete'>Albacete</option>
														<option value='Alicante'>Alicante</option>
														<option value='Almeria'>Almería</option>
														<option value='Asturias'>Asturias</option>
														<option value='Avila'>Ávila</option>
														<option value='Badajoz'>Badajoz</option>
														<option value='Baleares'>Baleares</option>
														<option value='Barcelona'>Barcelona</option>
														<option value='Burgos'>Burgos</option>
														<option value='Caceres'>Cáceres</option>
														<option value='Cadiz'>Cádiz</option>
														<option value='Cantabria'>Cantabria</option>
														<option value='Castellon'>Castellón</option>
														<option value='Ceuta'>Ceuta</option>
														<option value='Ciudadreal'>Ciudad Real</option>
														<option value='Cordoba'>Córdoba</option>
														<option value='Cuenca'>Cuenca</option>
														<option value='Girona'>Girona</option>
														<option value='Laspalmas'>Las Palmas</option>
														<option value='Granada'>Granada</option>
														<option value='Guadalajara'>Guadalajara</option>
														<option value='Guipuzcoa'>Guipúzcoa</option>
														<option value='Huelva'>Huelva</option>
														<option value='Huesca'>Huesca</option>
														<option value='Jaen'>Jaén</option>
														<option value='Larioja'>La Rioja</option>
														<option value='Leon'>León</option>
														<option value='Lleida'>Lleida</option>
														<option value='Lugo'>Lugo</option>
														<option value='Madrid'>Madrid</option>
														<option value='Malaga'>Málaga</option>
														<option value='Melilla'>Melilla</option>
														<option value='Murcia'>Murcia</option>
														<option value='Navarra'>Navarra</option>
														<option value='Ourense'>Ourense</option>
														<option value='Palencia'>Palencia</option>
														<option value='Pontevedra'>Pontevedra</option>
														<option value='Salamanca'>Salamanca</option>
														<option value='Segovia'>Segovia</option>
														<option value='Sevilla'>Sevilla</option>
														<option value='Soria'>Soria</option>
														<option value='Tarragona'>Tarragona</option>
														<option value='Santa Cruz de Tenerife'>Santa Cruz de Tenerife</option>
														<option value='Teruel'>Teruel</option>
														<option value='Toledo'>Toledo</option>
														<option value='Valencia'>Valencia</option>
														<option value='Valladolid'>Valladolid</option>
														<option value='Vizcaya'>Vizcaya</option>
														<option value='Zamora'>Zamora</option>
														<option value='Zaragoza'>Zaragoza</option>
													</select>
												</div>
											<!-- </div>-->
										</div>

									</div>
									<div class="listing-title-area">

										<div class="form-group">
											<label>Pueblo <span>*</span>
											</label> <input type="text" id="village" name='village'
												class="mandatory form-control" placeholder="Nombre del pueblo ..." value="{{alojamiento.village}}" disabled>
										</div>

									</div>

									<div class="listing-title-area">

										<div class="form-group">
											<label>Dirección <span>*</span>
											</label> <input type="text" class="mandatory form-control" id="address"
												name='address' placeholder="Dirección ..." value="{{alojamiento.address}}" disabled>
										</div>

									</div>

									<div class="listing-title-area">

										<div class="form-group">
											<label>Código postal <span>*</span>
											</label> <input type="text" class="mandatory form-control" id="postalcode"
												name='postalCode' placeholder="Código postal ..." value="{{alojamiento.postalCode}}" disabled>
										</div>

									</div>

									<div class="listing-title-area">

										<div class="row">

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Móvil <span>*</span>
													</label> <input type="text" id="mobilephone" name='mobilePhone'
														class="mandatory form-control" placeholder="666 123123" value="{{alojamiento.mobilePhone}}" disabled>
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Fijo <span>*</span>
													</label> <input type="text" id="landline" name='landline'
														class="mandatory form-control" placeholder="91 888 1122" value="{{alojamiento.landline}}" disabled>
												</div>
											</div>

										</div>

									</div>

									<div class="listing-title-area">

										<div class="form-group">
											<label>Sitio web <span>*</span>
											</label> <input type="text" class="mandatory form-control" name="web" id="web"
												placeholder="http://" value="{{alojamiento.web}}" disable>
										</div>

									</div>






									<div class="listing-title-area">


										<div class="row">

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Latitud <span>*</span>
													</label> <input type="text" id="latitude" name='latitude'
														class="mandatory form-control" placeholder="40.7205914" value="{{alojamiento.latitude}}" disabled>
												</div>
											</div>

											<div class="col-md-6 col-sm-6 col-xs-12">
												<div class="form-group">
													<label>Longitud <span>*</span>
													</label> <input type="text" id="longitude" name='longitude'
														class="mandatory form-control" placeholder="-74.0000439" value="{{alojamiento.longitude}}" disabled>
												</div>
											</div>

										</div>

									</div>

								</div>

								

							</div>

						</div>
					</div>
				</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="add-listing-bg">

						<div class="row">

							<div class="col-md-12">

								<div class="listing-title-area">

									<div class="row">


										<div class="col-md-6 col-sm-6 col-xs-12">

											<div class="row">

												<div class="col-md-12">
													<label>Información Social Media<span>*</span>
													</label>
												</div>

												<div class="col-md-6 col-sm-6 col-sm-12">
													<div class="form-group">
														<input type="text" name="facebook" id="facebook"
															class="mandatory form-control" placeholder="Página Facebook"  value="{{alojamiento.facebook}}" disabled>
													</div>

													<div class="form-group">
														<input type="text" class="mandatory form-control" id="instagram"
															name='instagram' placeholder="Página Instagram" value="{{alojamiento.instagram}}" disabled>
													</div>
												</div>

												<div class="col-md-6 col-sm-6 col-sm-12">
													<div class="form-group">
														<input type="text" class="mandatory form-control" id="twitter"
															name='twitter' placeholder="Página Twitter" value="{{alojamiento.twitter}}" disabled>
													</div>
													<div class="form-group">
														<input type="text" class="mandatory form-control"
															id="youtube" name='youtube' placeholder="Página Youtube" value="{{alojamiento.youtube}}" disabled>
													</div>
												</div>

											</div>


										</div>

									</div>

									<div class="row">

										<div class="col-md-6 col-sm-6 col-xs-12">

											<div class="form-group">
												<label>Descripción <span>*</span>
												</label>
												<textarea class="mandatory form-control" id="longdescription"
													name='longDescription'
													placeholder="Descripción detallada..." disabled>{{alojamiento.longDescription}}</textarea>
											</div>

										</div>

										<div class="col-md-6 col-sm-6 col-xs-12">

											<div class="form-group">
												<label>Descripción corta <span>*</span>
												</label>
												<textarea class="mandatory form-control" id="shortdescription"
													name='shortDescription' placeholder="Descripción corta..." disabled>{{alojamiento.shortDescription}}</textarea>
											</div>

										</div>

									</div>
									<div class="row">
										<p>Características:
										<ul id="lista" class="list-group">
											{{#listfeatures}}
											<li class="list-group-item">
												<div>
													<input type="hidden" name="features[{{-index}}].id" value="{{id}}" />
													<input class="feature-input" type="checkbox" name="features[{{-index}}].checked" {{#flagged}}checked{{/flagged}} disabled />
													<label>{{description}}</label>
													<input class="feature-input" type="text" name="features[{{-index}}].price" value="{{price}}" disabled/>
												</div>
											</li>
											{{/listfeatures}}
										</ul>
									</div>
			
			<p>Calendario de ocupación</p>
			<div id="selected-date" class="cal2"></div>

    <script type="text/template" id="clndr-template">
        <div class="clndr-controls">
            <div class="clndr-previous-button">&lsaquo;</div>
            <div class="month"><%= month %></div>
            <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(days, function (day) { %>
                    <div class="<%= day.classes %>"><%= day.day %></div>
                <% }); %>
                </div>
            </div>
        </div>
        <div class="clndr-today-button">Hoy</div>
    </script> 
    	{{#listAccommodationCalendar}}
		         <input id="accommodation-calendar-{{bookedDay}}" type="hidden" name="AccommodationCalendar[{{-index}}].bookedDay" value="{{bookedDay}}" />
		{{/listAccommodationCalendar}}
								</div>

							</div>

						</div>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="add-listing-bg">

						<div class="row">

							<div class="col-md-12">

								<div class="listing-title-area">

									<div class="row">

										<div class="col-md-12">

											<div class="form-group">
												<label>Imagenes alojamiento <span>*</span>
												</label>
												<div id="file-submit" class="dropzone dz-clickable">
													<input id="fileupload" name="files[]" multiple="" type="file" data-url="/controller/upload">
													<div class="dz-default dz-message">
														<span>Clickar o arrastrar imagenes aquí</span>
													</div>
												</div>
											</div>

										</div>


									</div>

									<div class="row p_t40">

										<div class="col-md-9 col-md-9 col-sm-12">

											<div class="form-group">
											</div>

										</div>

										<div class="col-md-3 col-sm-3 col-xs-12">

											<div class="form-group">
												<button type="submit" id="guardar" class="btn btn-large btn-primary" name="guardar">Guardar</button>
												<button name="boton-actualizar" id="actualizaralojamiento" class="btn btn-large btn-primary">Actualizar</button>
											</div>

										</div>

									</div>

								</div>

							</div>

						</div>

					</div>
				</div>
			</div>
		</form>
	    	
	    <form id="borrar" action="/propietario/{{idPropietario}}/alojamiento/{{alojamiento.id}}/borrar" method="post">
	        <button name="boton-borrar" id="boton-borrar" class="btn btn-large btn-danger" type="submit">Borrar</button>
	    </form>
		</div>
	</section>
	<!-- Popular Listing -->

	<!-- Footer -->
	<footer id="footer_1" class="bg_blue p_t70 p_b30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_logo">
						<img src="/images/logo-footer.png" alt="image" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<ul class="footer_link">
						<li><a href="/">Home</a></li>
						<li><a href="/packages.html">Paquetes</a></li>															
						<li><a href="/blog.html">Nuestro Blog</a></li>
						<li><a href="/faq.html">Faq's</a></li>
						<li><a href="/about.html">Sobre nosotros</a></li>
						<li><a href="/contact.html">Contactenos</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="header-top-links">
						<div class="social-icons text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_line"></div>
		</div>
		<div class="footer_botom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-6 col-sm-12">
						<p>Copyrights © 2019 Atoperural. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->


	<script src="/js/jquery.appear.js"></script>
	<script src="/js/jquery-countTo.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/bootsnav.js"></script>
	<script src="/js/zelect.js"></script>
	<script src="/js/dropzone.min.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/modernizr.custom.26633.js"></script>
	<script src="/js/jquery.gridrotator.js"></script>
	<script src="/js/functions.js"></script>

    <script src="/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/js/jquery.iframe-transport.js" type="text/javascript"></script>
	<script src="/js/jquery.fileupload.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
    <script src="/vendor/CLNDR/js/clndr.js"></script>
</body>

</html>