<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Portal de alojamientos rurales - A Tope Rural">
    <meta name="author" content="Sergio Daniel Jose Carlos">
    <title>A Tope Rural</title>
    <link rel="stylesheet" type="text/css" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/color-green.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css">
    <link rel="shortcut icon" href="images/short_icon.png">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	 <![endif]-->

</head>

<body>

<!-- LOADER -->
<div class="loader">
  <div class="cssload-svg"><img src="images/42-3.gif" alt="image">
  </div>
</div>
<!--LOADER-->

<!-- HEADER -->
<header id="main_header">
  <div id="header-top">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-sm-5 col-xs-12">
                  <div class="top-contact">
                      <p>Para más información: <span>+34 666 123123</span> o por email: <span>atoperural@email.com</span>
                      </p>
                  </div>
              </div>
              <div class="col-md-6 col-sm-7 col-xs-12 top_right_links">
                  <ul class="top_links">
                      <li><a href="profile.html"><i class="fa fa-user-o" aria-hidden="true"></i> Perfil</a> </li>
                      <li><a href="login-registerd.html"><i class="fa fa-lock" aria-hidden="true"></i> Login / Registro</a> </li>
                  </ul>
                  <div class="add-listing"> <a id="addOwnerButton" href="nuevoPropietario.html" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Añadir propietario</a> </div>
              </div>
          </div>
      </div>
  </div>
  <nav class="navbar navbar-default navbar-sticky bootsnav">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <!-- Start Header Navigation -->
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i>
                      </button>
                      <a class="navbar-brand" href="/"><img src="images/logo.png" class="logo" alt="">
                      </a>
                  </div>
                  <!-- End Header Navigation -->
                  <div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown"
								data-out="fadeOutUp">

								<li class="dropdown"><a href="#." class="dropdown-toggle"
									data-toggle="dropdown">Propietarios</a>
									<ul class="dropdown-menu">
										{{#owners}}
										<li><a href="propietario/{{id}}">{{fullName}} </a></li>
										{{/owners}} 
										{{^owners}}
										<li>Todavía no hay propietarios que	mostrar</li>
										{{/owners}}
									</ul>
								</li>

								<li class="dropdown megamenu-fw"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown">Páginas</a>
									<ul class="dropdown-menu megamenu-content" role="menu">
										<li>
											<div class="row">
											
												<div class="col-menu col-md-3">
													<h6 class="title">Páginas</h6>
													<div class="content">
														<ul class="menu-col">
															<li><a href="/">Home</a></li>
															<li><a href="/packages.html">Paquetes</a></li>															
															<li><a href="/blog.html">Nuestro Blog</a></li>
															<li><a href="/faq.html">Faq's</a></li>
															<li><a href="/about.html">Sobre nosotros</a></li>
															<li><a href="/contact.html">Contactenos</a></li>
														</ul>
													</div>
												</div>
	                                      </div>
	                                  </li>
	                              </ul>
	                          </li>
	                      </ul>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </nav>
</header>
<!-- HEADER  -->

<!-- Banner -->
<section id="banner">
  <div class="container">
      <div class="row">
          <div class="col-sd-12">
          <form id="searchForm" action="/casas-rurales" method="get">
              <div class="banner-search">
                  <h1>Encuentra tu alojamiento rural perfecto!</h1>
                  <p>Explora alojamientos bien valorados, actividades y más</p>
                  <div class="advance-search">
						<div class="group-button-search">
                          <a data-toggle="collapse" href=".search-propertie-filters" class="more-filter"> <i class="fa fa-bars" aria-hidden="true"></i> </a>
                      </div> 
                      <div class="dir-search">
                          <div class="single-query form-group">
                               <input type='text' id='datetimepicker1' class="keyword-input" placeholder="Fecha de entrada" name='startDate'/>
                          </div>
                          <div class="single-query form-group">
                            <div class='intro'>
					               <input type='text' id='datetimepicker2' class="keyword-input" placeholder="Fecha de salida" name='endDate'/>	          
					        </div>	
					        
                          </div>
                          <!--  <div class="single-query form-group">
                              <div class="intro">-->
				 				<select id="province" name='province'>
							        <option value="">(Seleccionar Provincia)</option>
							        <option value='A Coruña'>A Coruña</option>
									<option value='Alava'>Álava</option>
									<option value='Albacete'>Albacete</option>
									<option value='Alicante'>Alicante</option>
									<option value='Almeria'>Almería</option>
									<option value='Asturias'>Asturias</option>
									<option value='Avila'>Ávila</option>
									<option value='Badajoz'>Badajoz</option>
									<option value='Baleares'>Baleares</option>
									<option value='Barcelona'>Barcelona</option>
									<option value='Burgos'>Burgos</option>
									<option value='Caceres'>Cáceres</option>
									<option value='Cadiz'>Cádiz</option>
									<option value='Cantabria'>Cantabria</option>
									<option value='Castellon'>Castellón</option>
									<option value='Ceuta'>Ceuta</option>
									<option value='Ciudadreal'>Ciudad Real</option>
									<option value='Cordoba'>Córdoba</option>
									<option value='Cuenca'>Cuenca</option>
									<option value='Girona'>Girona</option>
									<option value='Laspalmas'>Las Palmas</option>
									<option value='Granada'>Granada</option>
									<option value='Guadalajara'>Guadalajara</option>
									<option value='Guipuzcoa'>Guipúzcoa</option>
									<option value='Huelva'>Huelva</option>
									<option value='Huesca'>Huesca</option>
									<option value='Jaen'>Jaén</option>
									<option value='Larioja'>La Rioja</option>
									<option value='Leon'>León</option>
									<option value='Lleida'>Lleida</option>
									<option value='Lugo'>Lugo</option>
									<option value='Madrid'>Madrid</option>
									<option value='Malaga'>Málaga</option>
									<option value='Melilla'>Melilla</option>
									<option value='Murcia'>Murcia</option>
									<option value='Navarra'>Navarra</option>
									<option value='Ourense'>Ourense</option>
									<option value='Palencia'>Palencia</option>
									<option value='Pontevedra'>Pontevedra</option>
									<option value='Salamanca'>Salamanca</option>
									<option value='Segovia'>Segovia</option>
									<option value='Sevilla'>Sevilla</option>
									<option value='Soria'>Soria</option>
									<option value='Tarragona'>Tarragona</option>
									<option value='Santa Cruz de Tenerife'>Santa Cruz de Tenerife</option>
									<option value='Teruel'>Teruel</option>
									<option value='Toledo'>Toledo</option>
									<option value='Valencia'>Valencia</option>
									<option value='Valladolid'>Valladolid</option>
									<option value='Vizcaya'>Vizcaya</option>
									<option value='Zamora'>Zamora</option>
									<option value='Zaragoza'>Zaragoza</option>
								</select>

                              <!-- </div>
                              </div>
                               <div class="single-query form-group">
								<div class="intro"> -->
									<select id="people" name="people">
										<option selected="selected" value="">Personas</option>
										<option value="1">1 persona</option>
										<option value="2">2 personas</option>
										<option value="3">3 personas</option>
										<option value="4">4 personas</option>
										<option value="5">5 personas</option>
										<option value="6">6 personas</option>
										<option value="7">7 personas</option>
										<option value="8">8 personas</option>
										<option value="9">9 personas</option>
										<option value="10">10 personas</option>
										<option value="11">11 personas</option>
										<option value="12">12 personas</option>
										<option value="13">13 personas</option>
										<option value="14">14 personas</option>
										<option value="15">15 personas</option>
										<option value="16">16 personas</option>
										<option value="17">17 personas</option>
										<option value="18">18 personas</option>
										<option value="19">19 personas</option>
										<option value="20">20 personas</option>
										<option value="">Otra cantidad</option>
									</select>
								<!-- </div>
							</div> -->
                      </div>
                      <div class="search-btn">
                          <button id="buttonSearch">Buscar <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                      </div>
                  </div>
              </div>
              </form>
          </div>
      </div>
      <div class="search-propertie-filters collapse">
          <div class="container-2">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Wifi</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Park</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Schools</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Grounds</span> </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Masque</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Hospitals</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Transport</span> </div>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                      <div class="search-form-group white">
                          <input type="checkbox" name="check-box" />
                          <span>Security</span> </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="banner-icons">
      <ul>
          <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
          <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
          <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
          <li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
          <li><a href="#!"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> </li>
      </ul>
  </div>
</section>
<!-- Banner -->

<!-- Alojamientos populares -->
<section id="popular-listing" class="p_b70 p_t70">
  <div class="container">
      <div class="row">
          <div class="col-md-12 heading">
              <h2>Alojamientos <span>populares</span></h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-9 col-sm-9 col-xs-12">
          
              <div class="sort-by">
                  <div class="sort-category"> <span>Ordena por</span>
                      <div class="single-query form-group">
                          <div class="intro">
                              <select>
                                  <option class="active">Más populares</option>
                                  <option>Más reciente</option>
                                  <option>Últimos añadidos</option>
                                  <option>Mejor valorados</option>
                              </select>
                          </div>
                      </div>
                      <ul class="nav nav-tabs sort-listing" role="tablist">
                          <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a>
                          </li>
                          <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                          </li>
                          <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>

              <!-- Tab panes -->
              <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="profile">
                      <div class="row">
                      
                       	{{#alojamientos}}
    
                          <div class="col-md-4 col-sm-6 col-xs-12">
                              <div class="popular-listing-box">
                                  <div class="popular-listing-img">
                                      <figure class="effect-ming"> <img src="images/casapepe.jpeg" alt="image">
                                          <figcaption>
                                              <ul>
                                                  <li><a href="#!"><i class="fa fa-heart" aria-hidden="true"></i></a> </li>
                                                  <li><a href="#!"><i class="fa fa-map-marker" aria-hidden="true"></i></a> </li>
                                                  <li><a href="#!"><i class="fa fa-reply" aria-hidden="true"></i></a> </li>
                                              </ul>
                                          </figcaption>
                                      </figure>
                                  </div>
                                  <div class="popular-listing-detail">
                                      <h3><a href="/alojamiento/{{id}}" class="alojamientofiltrado">{{name}}</a></h3>
                                      <p>{{shortDescription}}.</p>
                                  </div>
                                  <div class="popular-listing-add"> <span><i class="fa fa-map-marker" aria-hidden="true"></i>{{village}} - {{province}}</span> <span><img src="images/stars.png" alt="image"></span> </div>
                              </div>
                          </div>
                          {{/alojamientos}} 
                          {{^alojamientos}}
                           <h3 class="modal-title" id="myModalLabel">No se han encontrado alojamientos con los criterios de búsqueda seleccionados</h3>
                          {{/alojamientos}}                        
                  </div>
            
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Popular Listing -->
<!-- Footer -->
	<footer id="footer_1" class="bg_blue p_t70 p_b30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_logo">
						<img src="/images/logo-footer.png" alt="image" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<ul class="footer_link">
						<li><a href="/">Home</a></li>
						<li><a href="/packages.html">Paquetes</a></li>															
						<li><a href="/blog.html">Nuestro Blog</a></li>
						<li><a href="/faq.html">Faq's</a></li>
						<li><a href="/about.html">Sobre nosotros</a></li>
						<li><a href="/contact.html">Contactenos</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="header-top-links">
						<div class="social-icons text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_line"></div>
		</div>
		<div class="footer_botom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-6 col-sm-12">
						<p>Copyrights © 2019 Atoperural. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->

<!-- Popups -->
<section id="best-thing-model">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">United State</h4>
                  <ul class="best-things-listing">
                      <li><a href="#">15 Cities,</a>
                      </li>
                      <li><a href="#">130 listings,</a>
                      </li>
                      <li><a href="#">View 6753</a>
                      </li>
                  </ul>
                  <img src="images/stars-2.png" alt="image">
              </div>
              <div class="modal-body">

                  <div id="best-thing-slider" class="owl-carousel owl-theme">
                      <div class="item">
                          <img src="images/best-thing-slider-1.jpg" alt="image">
                      </div>
                      <div class="item">
                          <img src="images/best-thing-slider-1.jpg" alt="image">
                      </div>
                      <div class="item">
                          <img src="images/best-thing-slider-1.jpg" alt="image">
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="best-thing-model-description">
                              <h4>Description</h4>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a pretium ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae tellus in nisl aliquam cursus. Etiam condimentum purus urna, quis fermentum felis finibus quis. Integer magna quam, accumsan ac purus at, ultricies sagittis metus. Nulla tincidunt commodo egestas Morbi in molestie dui, Aenean feugiat odio eu venenatis sollicitudin...! </p>
                          </div>
                      </div>

                      <div class="col-md-6 col-sm-12 col-xs-12">
                          <div class="best-thing-model-feature">
                              <h4>Features</h4>
                              <ul>
                                  <li>Resturent (152,546)</li>
                                  <li>Real Estate (35,366)</li>
                                  <li>Sport (2,546)</li>
                                  <li>Beauty & Spa (1,546)</li>
                                  <li>Vehicles (2, 34, 546)</li>
                                  <li>Shoping (2,546)</li>
                                  <li>Industry (3,506)</li>
                                  <li>Dating (12,546)</li>
                                  <li>Jobs (22,546)</li>
                                  <li>Other Services (24,567)</li>
                              </ul>
                          </div>
                      </div>

                  </div>

                  <div class="best-thing-model-description">
                      <h4>Last Review</h4>
                      <img src="images/stars-2.png" alt="image">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a pretium ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae tellus in nisl aliquam cursus. Etiam condimentum purus urna, quis fermentum felis finibus quis. Integer magna quam, accumsan ac purus at, ultricies sagittis metus. Nulla tincidunt commodo egestas Morbi in molestie dui, Aenean feugiat odio eu venenatis sollicitudin...! </p>

                      <div class="best-thing-model-btn">
                          <a href="listing-details.html">More Details</a>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>
<!-- Popups -->

<script src="js/jquery.2.2.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery-countTo.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/bootsnav.js"></script>
<script src="js/zelect.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/modernizr.custom.26633.js"></script>
<script src="js/jquery.gridrotator.js"></script>
<script src="js/functions.js"></script>
<script src="js/moment-with-locales.js"></script>
<script src="js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
	            $(function () {
	                $('#datetimepicker1').datetimepicker({
	                	locale: 'es',
	                	format: 'L',
	                	minDate: moment(),
	                	useCurrent: false //Important! See issue #1075
	                });
	                $('#datetimepicker2').datetimepicker({
	                	locale: 'es',
	                	format: 'L',
	                	minDate: moment(),
	                	useCurrent: false //Important! See issue #1075
	                });
	                $("#datetimepicker1").on("dp.change", function (e) {
	                    if( e.date ){
	                        e.date.add(1, 'day');
	                      }
	                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
	                });
	                $("#datetimepicker2").on("dp.change", function (e) {
	                    if( e.date ){
	                        e.date.subtract(1, 'day');
	                      }
	                    $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
	                });
	            });	           
	        </script>
</body>
</html>