<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, user-scalable=no">
<title>Find Do Responsive Directory Template</title>
<link href="/vendor/CLNDR/css/clndr.css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="/css/master.css">
<link rel="stylesheet" type="text/css" href="/css/color-green.css">

<link rel="shortcut icon" href="/images/short_icon.png">
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <style>
		.map-container-7{
			overflow:hidden;
			padding-bottom:56.25%;
			position:relative;
			height:0;
		}
		.map-container-7 iframe{
			left:0;
			top:0;
			height:100%;
			width:100%;
			position:absolute;
		}
	tbody tr {
    	display : none;
	}
	tr.parent {
	    display : table-row;
	}
    thead tr {
    	display : none;
	}
	</style>
</head>

<body>

	<!-- LOADER -->
	<div class="loader">
		<div class="cssload-svg">
			<img src="/images/42-3.gif" alt="image">
		</div>
	</div>
	<!--LOADER-->

	<!-- HEADER -->
	<header id="main_header">
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-5 col-xs-12">
						<div class="top-contact">
							<p>
								Para más información: <span>+34 666 123123</span> o por email: <span>atoperural@email.com</span>
							</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-7 col-xs-12 top_right_links">
						<ul class="top_links">
							<li><a href="/profile.html"><i class="fa fa-user-o"
									aria-hidden="true"></i> Perfil</a></li>
							<li><a href="/login-registerd.html"><i class="fa fa-lock"
									aria-hidden="true"></i> Login / Registro</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-sticky bootsnav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/"><img src="/images/logo.png"
								class="logo" alt=""> </a>
						</div>
						<!-- End Header Navigation -->
						<div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown"
								data-out="fadeOutUp">

								<li class="dropdown megamenu-fw"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown">Páginas</a>
									<ul class="dropdown-menu megamenu-content" role="menu">
										<li>
											<div class="row">
											
												<div class="col-menu col-md-3">
													<h6 class="title">Páginas</h6>
													<div class="content">
														<ul class="menu-col">
															<li><a href="/">Home</a></li>
															<li><a href="/packages.html">Paquetes</a></li>															
															<li><a href="/blog.html">Nuestro Blog</a></li>
															<li><a href="/faq.html">Faq's</a></li>
															<li><a href="/about.html">Sobre nosotros</a></li>
															<li><a href="/contact.html">Contactenos</a></li>
														</ul>
													</div>
												</div>

											</div>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER  -->

	<!-- Inner Banner -->
	<section id="inner-banner-2">
		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<div class="inner_banner_2_detail">
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- Inner Banner -->
	<!-- Add New Listings -->
    <section id="listing-details" class="p_b70 p_t70">
        <div class="container">
	         <div class="row">
	         	  <div class="col-md-12">

                    <div class="details-heading heading">
                        <h2><a href="{{alojamiento.web}}">{{alojamiento.name}}</a></h2>
                        <span>Número registro turístico: {{alojamiento.numberTourism}}</span>
                        <span>5.0 <img src="/images/stars.png" alt="image"></span>
                        <div class="details-heading-address">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{alojamiento.address}} - {{alojamiento.postalCode}} {{alojamiento.village}} ({{alojamiento.province}} / {{alojamiento.country}})</p>
                            <ul>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> Móvil: {{alojamiento.mobilePhone}}</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> Fijo: {{alojamiento.landline}}</li>
                            </ul>
                        </div>

                        <div class="details-heading-address2">
                            <ul>
                                <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i> Escribir opinión</a> </li>
                                <li><a href="{{alojamiento.mobilePhone}}"><i class="fa fa-phone" aria-hidden="true"></i> Llamar</a> </li>
                            </ul>
                        </div>

                    </div>

                </div>
	         </div>
    	     <div class="row m_t40">
                <div class="col-md-9 col-sm-9 col-xs-12">
                	<div class="details-heading heading">

                        <h2 class="p_b40">Un poco <span>sobre nosotros</span></h2>

                        <p>{{alojamiento.longDescription}}</p>

                        <ul class="social-register-icon">
                            <li><a href="{{alojamiento.facebook}}"><i class="fa fa-facebook"></i> Facebook</a>
                            </li>
                            <li><a href="{{alojamiento.twitter}}"><i class="fa fa-twitter"></i> Twitter</a>
                            </li>
                            <li><a href="{{alojamiento.instagram}}"><i class="fa fa-instagram"></i> Instagram</a>
                            </li>
                            <li><a href="{{alojamiento.youtube}}"><i class="fa fa-youtube"></i> Youtube</a>
                            </li>
                        </ul>

                    </div>
                     <div class="details-heading heading">

                        <h2 class="p_b20"><span>Galería</span></h2>
						  <div class="card-body">
							  <section class="gallery_area section_gap">
					            <div class="container">
					                <div class="row imageGallery1" id="gallery">
						                {{#listpictures}}		    
									    <div class="col-md-4 gallery_item">
						                        <div class="gallery_img">
						                            <img src="../pruebas/image/gallery/{{nombreFoto}}" alt="">
						                            <div class="hover">
						                            	<a class="light" href="../pruebas/image/gallery/{{nombreFoto}}"><i class="fa fa-expand"></i></a>
						                            </div>
						                        </div>
						                    </div>
									    {{/listpictures}}
					                </div>
					            </div>
					        </section>
				          </div>
					</div>
        		</div>
        		<div class="col-md-3 col-sm-3 col-xs-12">

                    <div class="right-bar bg_white">
                        <h3><span>Dirección</span></h4>
                        <div id="cd-google-map">
                             <p>Coordenadas GPS: (Latitud: {{alojamiento.latitude}} / Longitud: {{alojamiento.longitude}})</p>
						      <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 200px">
						        <iframe src="https://maps.google.com/maps?hl=es&q={{alojamiento.latitude}},{{alojamiento.longitude}}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
						          style="border:0" allowfullscreen></iframe> <!-- http://maps.google.com/?q=<lat>,<lng> -->
						      </div>
                            <div id="cd-zoom-in"></div>
                            <div id="cd-zoom-out"></div>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{alojamiento.address}} - {{alojamiento.postalCode}} {{alojamiento.village}} ({{alojamiento.province}} / {{alojamiento.country}})</p>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> {{alojamiento.mobilePhone}}</p>
                            <p><i class="fa fa-globe" aria-hidden="true"></i> <a href="{{alojamiento.web}}">{{alojamiento.web}}</a>
                            </p>
                        </div>
                    </div>

                    <div class="right-bar bg_white">
                        <h3>Formulario de <span>Contacto</span></h3>
                        <form class="form-right">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre" name="name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-mail" name="email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Teléfono" name="phone">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="messgae" placeholder="Mensaje"></textarea>
                            </div>
                            <div class="form-group">
                                <button>Enviar</button>
                            </div>
                        </form>
                    </div>

                    <div class="right-bar bg_white">
                        <h3>Otra <span>Información</span></h3>
                        <ul class="right-bar-listing">
                        {{#listcharacteristics}}
                         <li><a href="#">{{description}}  <span>{{#flagged}}Si{{/flagged}}{{^flagged}}No{{/flagged}}</span></a></li>						
						{{/listcharacteristics}}
                        </ul>
                    </div>

                </div>
        		
        		
			 </div>  
    	     <div class="row">
        	 	<div class="col-md-12">
      	 	        <div class="details-heading heading">
      	 	        <h3><span>Precios</span></h3>
						{{#listprices}}
						<table id="tablePreview" class="table table-striped table-hover table-sm table-borderless">
						  <thead>
						    <tr class="{{#flagged}}parent{{/flagged}}">
						      <th>{{description}}</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr class="{{#flagged}}parent{{/flagged}}">
						      <td>{{price}}</td>
						    </tr>
						  </tbody>
						</table>
						{{/listprices}}
						
					  	<div>
					    <h3><span>Calendario de ocupación</span></h3>
						<div id="selected-date" class="cal2"></div>
			
			        <script type="text/template" id="clndr-template">
        <div class="clndr-controls">
            <div class="clndr-previous-button">&lsaquo;</div>
            <div class="month"><%= month %></div>
            <div class="clndr-next-button">&rsaquo;</div>
        </div>
        <div class="clndr-grid">
            <div class="days-of-the-week">
            <% _.each(daysOfTheWeek, function (day) { %>
                <div class="header-day"><%= day %></div>
            <% }); %>
                <div class="days">
                <% _.each(days, function (day) { %>
                    <div class="<%= day.classes %>"><%= day.day %></div>
                <% }); %>
                </div>
            </div>
        </div>
        <div class="clndr-today-button">Hoy</div>
          </script> 
			          		{{#listAccommodationCalendar}}
					         <input id="accommodation-calendar-{{bookedDay}}" type="hidden" name="AccommodationCalendar[{{-index}}].bookedDay" value="{{bookedDay}}" />
							{{/listAccommodationCalendar}}
			          	</div>
                    </div>
                    
                    <div class="details-heading heading">

                        <h2 class="p_b20">1 Opinión para <span>{{alojamiento.name}}</span></h2>

                        <div class="details-heading-review m_t30">

                            <div class="media">

                                <div class="media-left">
                                    <img src="/images/listing-review.png" alt="image">
                                </div>

                                <div class="media-body">
                                    <div class="review-detail">
                                        <h3>Bradley L. Hernandez <span>4.5 <img src="/images/stars-2.png" alt="image"></span></h3>
                                        <span>17 Octubre, 2019</span>
                                        <p>Comentario 1.</p>
                                        <ul class="listing-amenities">
                                            <li><a href="#!"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span>Lo que te gusta</span></a> </li>
                                            <li><a href="#!"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> <span>Lo que no te gusta</span></a> </li>
                                            <li><a href="#!"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span>Commentarios</span> </a> </li>
                                            <li><a href="#!"><span><b>Compartir:</b></span>  </a> </li>
                                            <li><a href="#!"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                                            <li><a href="#!"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                                            <li><a href="#!"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
                                            <li><a href="#!"><i class="fa fa-youtube" aria-hidden="true"></i></a> </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="details-heading heading">

                        <h2 class="p_b20">Escribe una <span>Opinión</span></h2>

                        <form id="form-review" method="post" action="?">

                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="form-review-name">Nombre</label>
                                        <input class="form-control" id="form-review-name" name="form-review-name" required="" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-review-email">Email</label>
                                        <input class="form-control" id="form-review-email" name="form-review-email" required="" type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="form-review-message">Mensaje</label>
                                        <textarea class="form-control" id="form-review-message" name="form-review-message" rows="3" required=""></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">Enviar Opinión</button>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <aside class="user-rating">
                                        <label>Estancia</label>
                                        <figure class="rating active" data-name="value"><span class="stars"><i class="fa fa-star s1" data-score="1"></i><i class="fa fa-star s2" data-score="2"></i><i class="fa fa-star s3" data-score="3"></i><i class="fa fa-star s4" data-score="4"></i><i class="fa fa-star s5" data-score="5"></i></span>
                                            <input readonly="" name="score_value" id="score_value" hidden="">
                                        </figure>
                                    </aside>
                                    <aside class="user-rating">
                                        <label>Servicio</label>
                                        <figure class="rating active" data-name="score"><span class="stars"><i class="fa fa-star s1" data-score="1"></i><i class="fa fa-star s2" data-score="2"></i><i class="fa fa-star s3" data-score="3"></i><i class="fa fa-star s4" data-score="4"></i><i class="fa fa-star s5" data-score="5"></i></span>
                                            <input readonly="" name="score_score" id="score_score" hidden="">
                                        </figure>
                                    </aside>
                                </div>

                            </div>

                        </form>

                    </div>
    	        </div>
    	        
	         </div>
        </div>
    </section>
	<!-- Footer -->
	<footer id="footer_1" class="bg_blue p_t70 p_b30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_logo">
						<img src="/images/logo-footer.png" alt="image" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<ul class="footer_link">
						<li><a href="/">Home</a></li>
						<li><a href="/packages.html">Paquetes</a></li>															
						<li><a href="/blog.html">Nuestro Blog</a></li>
						<li><a href="/faq.html">Faq's</a></li>
						<li><a href="/about.html">Sobre nosotros</a></li>
						<li><a href="/contact.html">Contactenos</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="header-top-links">
						<div class="social-icons text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_line"></div>
		</div>
		<div class="footer_botom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-6 col-sm-12">
						<p>Copyrights © 2019 Atoperural. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->


	<script src="/js/jquery.2.2.3.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.appear.js"></script>
	<script src="/js/jquery-countTo.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/bootsnav.js"></script>
	<script src="/js/zelect.js"></script>
	<script src="/js/parallax.min.js"></script>
	<script src="/js/modernizr.custom.26633.js"></script>
	<script src="/js/jquery.gridrotator.js"></script>
	<script src="/js/functions.js"></script>
    <script src="/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
	<script src="/js/jquery.iframe-transport.js" type="text/javascript"></script>
	
	
	<script src="/js/alojamientoHuesped.js" type="text/javascript"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
    <script src="/vendor/CLNDR/js/clndr.js"></script>
</body>

</html>