<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Find Do Responsive Directory Template</title>
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="stylesheet" type="text/css" href="/css/color-green.css">
    <link rel="shortcut icon" href="/images/short_icon.png">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>


	<!-- LOADER -->
	<div class="loader">
		<div class="cssload-svg">
			<img src="/images/42-3.gif" alt="image">
		</div>
	</div>
	<!--LOADER-->

	<!-- HEADER -->
	<header id="main_header">
		<div id="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-5 col-xs-12">
						<div class="top-contact">
							<p>
								Para más información: <span>+34 666 123123</span> o por email: <span>atoperural@email.com</span>
							</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-7 col-xs-12 top_right_links">
						<ul class="top_links">
							<li><a href="/profile.html"><i class="fa fa-user-o"
									aria-hidden="true"></i> Perfil</a></li>
							<li><a href="/login-registerd.html"><i class="fa fa-lock"
									aria-hidden="true"></i> Login / Registro</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-default navbar-sticky bootsnav">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!-- Start Header Navigation -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle"
								data-toggle="collapse" data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="/"><img src="/images/logo.png"
								class="logo" alt=""> </a>
						</div>
						<!-- End Header Navigation -->
						<div class="collapse navbar-collapse" id="navbar-menu">
							<ul class="nav navbar-nav navbar-right" data-in="fadeInDown"
								data-out="fadeOutUp">

								<li class="dropdown megamenu-fw"><a href="#"
									class="dropdown-toggle" data-toggle="dropdown">Páginas</a>
									<ul class="dropdown-menu megamenu-content" role="menu">
										<li>
											<div class="row">
											
												<div class="col-menu col-md-3">
													<h6 class="title">Páginas</h6>
													<div class="content">
														<ul class="menu-col">
															<li><a href="/">Home</a></li>
															<li><a href="/packages.html">Paquetes</a></li>															
															<li><a href="/blog.html">Nuestro Blog</a></li>
															<li><a href="/faq.html">Faq's</a></li>
															<li><a href="/about.html">Sobre nosotros</a></li>
															<li><a href="/contact.html">Contactenos</a></li>
														</ul>
													</div>
												</div>

											</div>
										</li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<!-- HEADER  -->

	<!-- Inner Banner -->
	<section id="inner-banner-2">
		<div class="container">
			<div class="row">

				<div class="col-md-12 text-center">
					<div class="inner_banner_2_detail">
					</div>
				</div>

			</div>
		</div>
	</section>

    <!-- Profile -->
    <section id="profile" class="p_b70 p_t70 bg_lightgry">

        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12">

                    <div class="profile-leftbar">
                        <div id="profile-picture" class="profile-picture dropzone dz-clickable">
                            <input name="file" type="file">
                            <div class="dz-default dz-message"><span>Click or drop<br>picture here</span>
                            </div>
                            <img src="/images/profile.jpg" alt="">
                        </div>
                    </div>

                    <div class="profile-list">
                        {{#listaalojamientos}}	
                        <ul id="lista" class="list-group">
                            <li>
                            	<a href="/propietario/{{propietario.id}}/alojamiento/{{id}}/editar" class="list-group-item"><i class="fa fa-sliders" aria-hidden="true"></i>{{name}}</a>
                            </li>
                        </ul>
                        {{/listaalojamientos}}
                        <ul>
                            <li>
                                <a id="addaccommodation" href="/nuevo_alojamiento?propietario={{propietario.id}}"><i class="fa fa-plus-square" aria-hidden="true"></i> Añadir alojamiento</a>
                            </li>
                            <li>
                                 <a href="/error-page.html"><i class="fa fa-commenting" aria-hidden="true"></i> Mensajes</a>
                            </li>
                            <li>
                                 <a href="/error-page.html"><i class="fa fa-eye" aria-hidden="true"></i> Opiniones</a>
                            </li>
                            <li>
                                <a href="/error-page.html"><i class="fa fa-lock" aria-hidden="true"></i> Log Out</a>
                            </li>
                        </ul>
                    </div>

                </div>
				<form onsubmit="return Valida(this);" id="updateForm" action="{{propietario.id}}/actualizar" method="post">
                <div class="col-md-9 col-sm-9 col-xs-12">

                    <div class="profile-login-bg">
                        <h2><span><i class="fa fa-user"></i></span> Información <span>Propietario</span></h2>

                        <div class="row p_b30">
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="nombreyapellidos">Nombre y Apellidos</label>
                                    <input class="mandatory form-control" id="nombreyapellidos" name='nombreYapellidos'  type="text" value="{{propietario.nombreYapellidos}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input class="mandatory form-control" id="email" name="email" type="email" value="{{propietario.email}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="contrasena">Contraseña</label>
                                    <input class="mandatory form-control" id="contrasena" name='contrasena'  type="password"  value="{{propietario.contrasena}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input class="mandatory form-control" id="telefono" name='telefono' type="text" value="{{propietario.telefono}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="descripcion">Descripción</label>
                                    <input class="form-control" id="descripcion" name='descripcion' type="text" value="{{propietario.descripcion}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="form-group">
                                    <label for="dni">DNI</label>
                                    <input class="mandatory form-control" id="dni" name='dni' type="text" value="{{propietario.dni}}" disabled>
                                </div>
                            </div>
                        </div>

                        <h2><span><i class="fa fa-map-marker"></i></span>Información adicional</h2>

                        <div class="form-group">
                            <label for="state">Dirección</label>
                            <input class="form-control"  id="direccion" name='direccion' type="text" value="{{propietario.direccion}}" disabled>
                        </div>
                         <div class="row">
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="estadosubcripcion">Estado Subscripción</label>
                            <input class="form-control" id="estadosubscripcion" name="estadoSubscripcion" type="text" value="{{propietario.estadoSubscripcion}}" disabled>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="fechainicio">Fecha Inicio</label>
                                    <input class="form-control" id="fechainicio" name="fechainicio"  type="text" value="{{propietario.fechaInicio}}" disabled>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="fechaFin">Fecha Fin</label>
                                    <input class="form-control" id="fechafin" name="fechaFin" type=text value="{{propietario.fechaFin}}" disabled>
                                </div>
                                <!--/.form-group-->
                            </div>
                        </div>
                          <div class="row">
                        <div class="form-group col-md-4 col-sm-4">
                            <label for="tiposervicio">Tipo Servicio</label>
                            <input class="form-control" id="tiposervicio" name="tiposervicio" type="text" value="{{propietario.tipoServicio}}" disabled>
                        </div>
                        </div>
                  
                        <div class="form-group">
                           <button type="submit" id="guardar" class="btn btn-large btn-primary" name="guardar">Guardar</button>
                            <br>
                            <button name="boton-actualizar" id="actualizarpropietario" class="btn btn-large btn-primary">Actualizar</button>
                        </div>
                    </div>

                </div>
                </form>
				<p>
				<div class="form-group">
	                <form id="borrar" action="/propietario/{{propietario.id}}/borrar" method="post">
				        <button name="boton-borrar" id="boton-borrar" class="btn btn-large btn-danger" type="submit">Borrar</button>
				    </form>
			    </div>
	    		<br>
            </div>
        </div>

    </section>
    <!-- Popular Listing -->

   <!-- Footer -->
	<footer id="footer_1" class="bg_blue p_t70 p_b30">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="footer_logo">
						<img src="/images/logo-footer.png" alt="image" />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 text-center">
					<ul class="footer_link">
						<li><a href="/">Home</a></li>
						<li><a href="/packages.html">Paquetes</a></li>															
						<li><a href="/blog.html">Nuestro Blog</a></li>
						<li><a href="/faq.html">Faq's</a></li>
						<li><a href="/about.html">Sobre nosotros</a></li>
						<li><a href="/contact.html">Contactenos</a></li>
					</ul>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="header-top-links">
						<div class="social-icons text-right">
							<ul>
								<li><a href="#"><i class="fa fa-facebook"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"
										aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-youtube"
										aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_line"></div>
		</div>
		<div class="footer_botom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-6 col-sm-12">
						<p>Copyrights © 2019 Atoperural. All rights reserved.</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->


    <script src="/js/jquery.2.2.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.appear.js"></script>
    <script src="/js/jquery-countTo.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/bootsnav.js"></script>
    <script src="/js/zelect.js"></script>
    <script src="/js/dropzone.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <script src="/js/modernizr.custom.26633.js"></script>
    <script src="/js/jquery.gridrotator.js"></script>
    <script src="/js/functions.js"></script>
    <script src="/js/ver_propietario.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $("#guardar").hide();
    });	
    </script>
</body>

</html>